{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ base_path }}/">Home</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <span class="masthead__updated">
        Last updated in <time datetime="{{ 'now' | date: '%Y-%m-%d' }}">{{ 'now' | date: '%b %Y' }}</time>
      </span>
      <div class="masthead__actions">
        <a class="masthead__action masthead__action--rss" href="{{ '/feed.xml' | relative_url }}" target="_blank" aria-label="Subscribe via RSS" title="Subscribe via RSS">
          <i class="fa-solid fa-rss" aria-hidden="true"></i>
        </a>
        <button id="theme-toggle" class="masthead__action" type="button" aria-label="Toggle color theme" title="Toggle color theme">
          <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
