<script type="module" src="{{ '/assets/js/main.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>

{% if page.welcome %}
<script defer src="https://cdn.jsdelivr.net/npm/typed.js@2.1.0/dist/typed.umd.js" integrity="sha384-cMrTlShXEGSdSFA359p+3aVUxK/R+0TAfbRZMcTlAn8yqzxEDj05QsS65nTFMMj4" crossorigin="anonymous"></script>
<script defer src="{{ '/assets/js/welcome.js?v=' | append: site.github.build_revision | relative_url }}"></script>
{% endif %}

{% if page.section_nav %}
<script defer src="{{ '/assets/js/section-nav.js?v=' | append: site.github.build_revision | relative_url }}"></script>
{% endif %}

<script defer src="{{ '/assets/js/back-to-top.js?v=' | append: site.github.build_revision | relative_url }}"></script>

{% include analytics.html %}
