/* ==========================================================================
   SHARED TYPOGRAPHY, BREAKPOINTS AND GRID SETTINGS
   ========================================================================== */

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

/* Space between paragraphs */
$paragraph-spacing          : 1.3em;

/* System typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* Sans serif typefaces */
$sans-serif-narrow          : $sans-serif;

/* Type scale */
$type-size-3                : 1.563em;  // ~25.008px
$type-size-4                : 1.25em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);

$small                      : 600px !default;
$medium                     : 768px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/* ==========================================================================
   Grid
   ========================================================================== */

$susy: (
    columns: 12,
    column-width: 120px,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: after,
    container: $large,
    global-box-sizing: border-box,
);
